<div class="container">
  <div class="about" id="aboutsection">
    <div class="row">
      <div class="heading-wrapper">  <h1 class="heading" i18n>&nbsp;About Me 🧑‍💻 &nbsp;</h1></div>
      <div class="col-lg-6">
        <div class="image-wrapper">
          <img  src="../../assets/img/external/img.gif" alt="funky-coder-img" i18n-alt>
        </div>
      </div>
      <div class="col-lg-6">
        
        <div class="about-text">
          <p class="about-paragraph" i18n>Graduating with a degree in <b>Computer Science and Engineering</b> from Galgotias College of Engineering and Technology,
            India in 2022 has equipped me with the skills of a proficient developer. I thrive on tackling challenges regularly.</p>

         <p class="about-paragraph" i18n>My professional journey commenced with <b>HostBooks Limited</b>, a prominent IT organization,
            after completing my degree. This experience has been instrumental in my technical and personal growth.
            Working extensively with modern frameworks including <b>Angular, Spring Boot</b>
            I've refined my skills in developing by adding features according to client requirements.</p>
      </div>
    </div>
  </div>
</div>
