
  <div class="container">
    <div class="heading">
      <h1 class="section-heading">&nbsp;Experience 💡&nbsp;</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="card exp-card">
          <div class="wrapper">
            <div class="left-side col-lg">
              <img class="client-logo" src="../../assets/img/external/Experience/Hostbook_Logo.jpg"
                alt="Compant Logo">
              <h4 class="client-name">HostBooks Limited</h4>
              <p class="tenure"></p>
            </div>
            <div class="right-side col-lg-8">
              <h3 class="role">Software Developer</h3>
              <p class="desc">I contributed to live projects at HostBooks, specifically focusing on the Transport Management System
                 and Inventory module. My responsibilities encompassed the comprehensive design of components, starting from the 
                 ground up for the website.</p>

                 <p class="resp-title">Responsibilities</p>
                 <ul class="resp-list">
                   <li class="resp-item">Developing interactive and responsive user interfaces using Modern Tech Stack</li>
                   <li class="resp-item">Proficiently utilizing REST APIs using Spring Boot controllers to seamlessly retrieve and
                     display data from databases, optimizing efficiency in data handling and presentation</li>
                   <li class="resp-item">Utilizing SQL queries to define and maintain table schemas, including data types, constraints,
                     and ensuring data integrity through updates and modifications</li>
                   <li class="resp-item">Collaborating with QA team members to maintain code quality</li>
                   <li class="resp-item">Debugging and fixing issues promptly, ensuring minimal downtime and optimal user experience</li>
                 </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





