<div class="container">
  <div class="wrapper-2 row">
    <div class="pages col col-lg-4">
      <p class="txt" i18n>pages</p>
      <a class="page-link" routerLink="projects" i18n>Projects</a>
      <a class="page-link" routerLink="experience" i18n>Experience</a>
      <a class="page-link" routerLink="services" i18n>Services</a>
      <a class="page-link" routerLink="pnf" i18n>Hobbies</a>
      <a class="page-link" routerLink="skills" i18n>Skills</a>
    </div>
    <div class="social col col-lg-4">
      <p class="txt" i18n>social</p>
      <a class="page-link" i18n href="https://www.linkedin.com/in/tanzilekram/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
      <a class="page-link" i18n href="https://github.com/tanzilekram" target="_blank"><i class="fa-brands fa-github"></i>Github</a>
      <a class="page-link" i18n href="https://www.instagram.com/techbro__tanzil/" target="_blank"><i class="fa-brands fa-instagram" href=""></i>Instagram</a>
      <a class="page-link" i18n href="https://twitter.com/tanzilekram" target="_blank"><i class="fa-brands fa-x-twitter"></i>TwitterX</a>
      <a class="page-link" i18n href="mailto:tanzilekram@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>Email</a>
    </div>
  </div>

  <div class="wrapper-1">
    <p class="txt custom-pos-1" i18n>MADE USING</p>
    <img class="foot-icons" src="../../../assets/V2/Icons/Footer/Footer-logo-Ang.svg" alt="Angular">
    <img class="foot-icons" src="../../../assets/V2/Icons/Footer/Footer-logo-Boot.svg" alt="Bootstrap">
    <img class="foot-icons" src="../../../assets/V2/Icons/Footer/Footer-logo-Boot-Typescript.svg" alt="TypeScript">

  </div>

  <p class="footer_copy" i18n>Made with  💖 by <a class="link" href="">Md Tanzil Ekram. </a>All rights reserved<sup>&#169;</sup></p>
</div>
